<phpunit
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	forceCoversAnnotation="false"
	printerClass="PHPUnit_TextUI_ResultPrinter"
	stopOnError="true"
	strict="true"
	verbose="true">

	<php>
		<const name="CLIENT_ID" value="YOUR_CLIENT_ID" />
		<const name="CLIENT_SECRET" value="YOUR_CLIENT_SECRET" />
		<const name="REDIRECT_URI" value="YOUR_REDIRECT_URI" />
		<const name="ACCESS_TOKEN" value="YOUR_ACCESS_TOKEN" />
		<const name="REFRESH_TOKEN" value="YOUR_REFRESH_TOKEN" />
	</php>

	<testsuites>
		<testsuite name="all">
			<directory suffix=".php">./</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">../source</directory>
		</whitelist>
	</filter>

	<logging>
		<log
			type="coverage-text"
			target="php://stdout"
			showUncoveredFiles="true"
			lowUpperBound="80"
			highLowerBound="95" />
	</logging>
</phpunit>
