<phpunit
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	forceCoversAnnotation="false"
	printerClass="PHPUnit_TextUI_ResultPrinter"
	stopOnError="true"
	strict="true"
	verbose="true">

	<php>
		<const name="CLIENT_ID" value="c9fb4462d22134d84ccc680357b98d94" />
		<const name="CLIENT_SECRET" value="73866a7f2b7f3ccd85f805b276793e56" />
		<const name="REDIRECT_URI" value="http://127.0.0.1:9999/callback.php" />
		<const name="ACCESS_TOKEN" value="b4c6e623c58cf92eef13eed95d93fdfe" />
		<const name="REFRESH_TOKEN" value="2caf183d88140d75423391ec52bc5f30" />
	</php>

	<testsuites>
		<testsuite name="all">
			<directory suffix=".php">./</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">../source</directory>
		</whitelist>
	</filter>

	<logging>
		<log
			type="coverage-text"
			target="php://stdout"
			showUncoveredFiles="true"
			lowUpperBound="70"
			highLowerBound="90" />
	</logging>
</phpunit>
